@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-pink-50 via-purple-50 to-pink-50;
}
.topic-header {
    min-height: auto !important;
    height: auto !important;
    padding: 1rem 0 !important;
}